{{- $hero        := .Site.Params.hero }}
{{- $memberLogos1 := index $hero "memberlogos1" }}
{{- $memberLogos2 := index $hero "memberlogos2" }}
{{- $memberLogos3 := index $hero "memberlogos3" }}
{{- $memberLogos4 := index $hero "memberlogos4" }}
{{- $memberLogos5 := index $hero "memberlogos5" }}
{{- $memberLogos6 := index $hero "memberlogos6" }}

<div class="hero-foot mb-20" style="padding: 0pt 20pt 0pt 20pt;">
  <div class="container">
    <div class="columns is-mobile is-centered">
      {{- range $memberLogos1 }}
      <div class="column is-2-desktop is-2-tablet is-3-mobile">
        <a href="{{.url}}" target="_blank">
          <img src="{{ printf "/images/logos/members/%s.png" .logo | relURL }}">
        </a>
      </div>
      {{- end }}
    </div>
    <div class="columns is-mobile is-centered">
      {{- range $memberLogos2 }}
      <div class="column is-2-desktop is-2-tablet is-3-mobile">
        <a href="{{.url}}" target="_blank">
          <img src="{{ printf "/images/logos/members/%s.png" .logo | relURL }}">
        </a>
      </div>
      {{- end }}
    </div>
    <div class="columns is-mobile is-centered">
      {{- range $memberLogos3 }}
      <div class="column is-2-desktop is-2-tablet is-3-mobile">
        <a href="{{.url}}" target="_blank">
          <img src="{{ printf "/images/logos/members/%s.png" .logo | relURL }}">
        </a>
      </div>
      {{- end }}
    </div>
    <div class="columns is-mobile is-centered">
      {{- range $memberLogos4 }}
      <div class="column is-2-desktop is-2-tablet is-3-mobile">
        <a href="{{.url}}" target="_blank">
          <img src="{{ printf "/images/logos/members/%s.png" .logo | relURL }}">
        </a>
      </div>
      {{- end }}
    </div>    
    <div class="columns is-mobile is-centered">
      {{- range $memberLogos5 }}
      <div class="column is-2-desktop is-2-tablet is-3-mobile">
        <a href="{{.url}}" target="_blank">
          <img src="{{ printf "/images/logos/members/%s.png" .logo | relURL }}">
        </a>
      </div>
      {{- end }}
    </div>      
    <div class="columns is-mobile is-centered">
      {{- range $memberLogos6 }}
      <div class="column is-2-desktop is-2-tablet is-3-mobile">
        <a href="{{.url}}" target="_blank">
          <img src="{{ printf "/images/logos/members/%s.png" .logo | relURL }}">
        </a>
      </div>
      {{- end }}
    </div>    
  </div>
</div>
