<section id="mission" class="section section-feature-grey is-medium">
  <div class="container">
    <div class="content-wrapper">
      <div class="columns is-centered">
        <div class="column is-10">
        <div class="tile is-ancestor">
          <div class="tile is-parent revealOnScroll delay-1" data-animation="fadeInLeft">

          {{if eq $.Site.Language.Lang "en" }}
            <article class="tile is-child box">
              <div class="content has-padding-2em">
                <div class="title-wrapper has-text-centered has-padding-2em-bottom">
                  <h2 class="title is-2">Mission</h2>
                  <h3 class="subtitle is-5 is-muted">What are we doing?</h3>
                  <div class="divider is-centered"></div>
                </div>
                <p class="content has-text-left">We gather the community of AI of Lithuania to debate about AI technology, find the best interpretation of legal AI issues as well as education of public on AI topics. We realize the potential of an emerging sector of AI and welcome participants from all sectors to create a better environment to do fundamental research, explore and encourage AI startups as well as AI adoption in business. Most important we pursue sustainable and effective AI integration to all sectors of the ecosystem.</p>
              </div>
            </article>
          {{- else }}
            <article class="tile is-child box">
              <div class="content has-padding-2em">
                <div class="title-wrapper has-text-centered has-padding-2em-bottom">
                  <h2 class="title is-2">Misija</h2>
                  <h3 class="subtitle is-5 is-muted">Ką mes darome?</h3>
                  <div class="divider is-centered"></div>
                </div>
                <p class="content has-text-left">Mes telkiame Lietuvos dirbtinio intelekto bendruomenę diskusijai, 
                apie DI technologiją, DI interpretaciją ir reguliavimą ir kitas edukacines DI temas.
                Suprasdami besiplečiančią DI srities svarbą kviečiame visų sričių atstovus sukurti 
                geresnę aplinką kurti, vystyti mokslinius tyrimus, skatinti DI startuolius, adaptuoti DI sprendimus versle.
                Svarbiausia mes siekiame tvarios ir efektyvios DI integracijos į visus ekonomikos sektorius.</p>
              </div>
            </article>
          {{- end }}

          
          </div>
          <div class="tile is-parent revealOnScroll delay-1" data-animation="fadeInLeft">
          {{if eq $.Site.Language.Lang "en" }}
            <article class="tile is-child box">
              <div class="content has-padding-2em">
                <div class="title-wrapper has-text-centered has-padding-2em-bottom">
                  <h2 class="title is-2">Vision</h2>
                  <h3 class="subtitle is-5 is-muted">What are we trying to achieve?</h3>
                  <div class="divider is-centered"></div>
                </div>
                <p class="content content has-text-left">We strive to connect and lead the AI community of Lithuania to become strong and competitive within Europe and the global context.
                  We pursue this by campaign partnerships between the academic and private sectors, as well as government and public sectors. We are formulating and expressing guidelines for national AI strategy, including the ethics, legal questions of AI. 
                  This joint-venture, putting together the best from all sectors, can contribute to the fundamental research in AI and the innovation ecosystem, being very beneficial to the whole country.</p>
              </div>
            </article>
          {{- else }}
            <article class="tile is-child box">
              <div class="content has-padding-2em">
                <div class="title-wrapper has-text-centered has-padding-2em-bottom">
                  <h2 class="title is-2">Vizija</h2>
                  <h3 class="subtitle is-5 is-muted">Ką norime pasiekti?</h3>
                  <div class="divider is-centered"></div>
                </div>
                <p class="content content has-text-left">Mes siekiame sujungti ir paskatinti Lietuvos dirbtinio intelekto bendruomenę tapti stipria ir
                 konkurencinga ne tik Europoje bet ir visame pasaulyje. Mes to siekiame vykdydami akademinės srities, viešojo ir privataus sektorių partnerystę.
                 Formuojame ir išreiškiame nacionalinės dirbtinio intelekto strategijos gaires, įskaitant DI etikos klausimus, teisinius DI aspektus. 
                 Mes siekiame suburti geriausius DI specialistus iš visų sričių, norinčius ir galinčius prisidėti prie fundamentalių dirbtinio intelekto tyrimų ir inovacijų ekosistemos, kas yra labai naudinga visai šaliai.</p>
              </div>
            </article>
          {{- end }}
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
