{{- $section3 := .Site.Params.section3 }}
{{- $title    := index $section3 "title" }}
{{- $subtitle := index $section3 "subtitle" }}
{{- $text    := index $section3 "text" }}
<section id="membership" class="section section-feature-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="content">
        <div class="columns is-centered has-text-centered">
          <div class="column is-10">
            <p class="content">{{ $text }}</p>
          </div>
        </div>
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-parent revealOnScroll delay-1" data-animation="fadeInLeft">
          <article class="tile is-child box has-no-padding">
            <div class="card-header">
              <div class="card-header-title has-padding-2em has-text-centered has-dead-purple-bgcolor">
                <p class="title is-4">What is the membership fee?</p>
              </div>
            </div>
            <div class="content has-padding-2em">
              <ul class="has-padding-1em-bottom">
                <li>Individual membership is 100 EUR per year.</li>
                <li>Company membership is 1000 EUR per year.</li>
              </ul>
            </div>
          </article>
        </div>
        <div class="tile is-parent revealOnScroll delay-1" data-animation="fadeInLeft">
          <article class="tile is-child box has-no-padding">
            <div class="card-header">
              <div class="card-header-title has-padding-2em has-text-centered has-dead-purple-bgcolor">
                <p class="title is-4">How do I become a member?</p>
              </div>
            </div>
            <div class="content has-padding-2em">
              <ul class="has-padding-1em-bottom">
                <li>Get acquainted with the <a href="/files/ldia_istatai.pdf" target="_blank">bylaws</a>.</li>
                <li>Fill in the <a href="https://docs.google.com/forms/d/e/1FAIpQLSddLuSeS5BUFgY7RSHP1_urgg0rSALZMvL_pZicbxt-Xe4u7w/viewform" target="_blank">application form</a>.</li>
                <li>Wait for a community member’s approval, which comes by email.</li>
                <li>Transfer membership fee to a bank account.</li>
              </ul>
            </div>
          </article>
        </div>
        <div class="tile is-parent revealOnScroll delay-1" data-animation="fadeInLeft">
          <article class="tile is-child box has-no-padding">
            <div class="card-header">
              <div class="card-header-title has-padding-2em has-text-centered has-dead-purple-bgcolor">
                <p class="title is-4">How to pay for membership?</p>
              </div>
            </div>
            <div class="content has-padding-2em">
              <ul class="has-padding-1em-bottom">
                <li><b>Beneficiary:</b> Lietuvos dirbtinio intelekto asociacija</li>
                <li><b>Beneficiary’s account:</b> LT067300010160163729</li>
                <li><b>Type of information:</b> LDIA membership</li>
              </ul>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>