{{- $section5 := .Site.Params.section5 }}
{{- $title    := index $section5 "title" }}
{{- $subtitle := index $section5 "subtitle" }}
{{- $text    := index $section5 "text" }}
{{- $titlelt    := index $section5 "titlelt" }}
{{- $subtitlelt := index $section5 "subtitlelt" }}
{{- $textlt    := index $section5 "textlt" }}
<section id="friends" class="section is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">

          {{if eq $.Site.Language.Lang "en" }}
          <h2 class="title is-2">{{ $title }}</h2>
          <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
          {{- else }}
          <h2 class="title is-2">{{ $titlelt }}</h2>
          <h3 class="subtitle is-5 is-muted">{{ $subtitlelt }}</h3>
          {{- end }}      
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="content">
        <div class="columns is-centered has-text-centered">
          <div class="column is-10">
            <p class="content">{{ $text }}</p>
          </div>
        </div>
        <div class="columns is-centered">       
          <div class="column is-2">
            <a href="https://www.aiaustria.com/">
                <img class="friend-logo" src="/images/logos/members/AI-Austria-1-300x300.png">
            </a>
          </div> 
          <div class="column is-2">
            <a href="https://ai4si.gzs.si/">
                <img class="friend-logo" src="/images/logos/members/ai4si-2-300x300.png">
            </a>
          </div> 
          <div class="column is-2">
            <a href="https://aipoland.org/">
                <img class="friend-logo" src="/images/logos/members/aipoland-300x300.png">
            </a>
          </div>          
          <div class="column is-2">
            <a href="https://aicluster.bg/">
                <img class="friend-logo" src="/images/logos/members/AI-Bulgaria-300x300.png">
            </a>
          </div> 
        
          </div>

        <div class="columns is-centered">
        
          <div class="column is-2">
            <a href="https://www.croai.org/">
                <img class="friend-logo" src="/images/logos/members/CroAI-1-300x300.png">
            </a>
          </div> 
          
          <div class="column is-2">
            <a href="https://www.hub-franceia.fr/">
                <img class="friend-logo" src="/images/logos/members/Hub-France-IA-300x300.png">
            </a>
          </div>          
          <div class="column is-2">
            <a href="https://ki-verband.de/en/">
                <img class="friend-logo" src="/images/logos/members/KI.png">
            </a>
          </div> 
          <div class="column is-2">
            <a href="https://nlaic.com/">
                <img class="friend-logo" src="/images/logos/members/NL-AI-Coalitie-300x300.png">
            </a>
          </div> 
                    
          </div>
          
          <div class="columns is-centered">
          <div class="column is-2">
            <a href="https://www.opencirclecapital.lt">
                <img class="friend-logo" src="/images/logos/members/openCircleCapital_logo.png">
            </a>
          </div>            
          <div class="column is-2">
            <a href="https://www.european-ai-forum.com/">
                <img class="friend-logo" src="/images/logos/members/EAIF.png" style="background-color:rgb(176, 176, 197);">
            </a>
          </div>   
            <div class="column is-2">
              <a href="https://claire-ai.org/">
                  <img class="friend-logo" src="/images/logos/members/Clair.png">
              </a>
            </div>
            <div class="column is-2">
              <a href="https://www.aric-hamburg.de/">
                <img class="friend-logo" src="/images/logos/members/Aric.png">
              </a>
            </div>
  
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
